<html>
    <head>
        <title>{{ ansible_hostname }}</title>
    </head>
<body>
    <p>-------------------------------------------------------------</p>
    <p>IP: {{ansible_ssh_host}}</p>
    <p>Machine name: {{ ansible_hostname }}</p>
    <p>-------------------------------------------------------------</p>
</body>
</html>